<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SIA_US_JEWELRY - магазин ювелирных крашений украшений ручной работы</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
		
</head>
<body>

   <header>
        <div class="logo">SIA_US_JEWELRY</div>
        <nav class="nav">
            <a href="#about">О себе</a>
            <a href="#advantages">Преимущества</a>
            <a href="#bestsellers">Работы</a>
            <a href="#review">Отзывы</a>
            <a href="#social">Контакты</a>
        </nav>
    </header>

    <div class="cover" >
       <h1>Красота в мелочах</h1>
       <h2>Откройте для себя бесконечное<br>великолепие украшений</h2>
        <img src="static/solnce_lyna.png" alt="Jewelry Image" class="cover-image">
       <h3>SIA_US_JEWELRY</h3>
	<img src="static/vector-so-zvezdothkoi.png" alt="Vector" class="cover-image1">
       <h4>Украшения ручной работы</h4>
       <button class="button1" onclick="redirectToForm()">Заказать</button>
    </div>

    <div class="Testimonials" id="about">
	<img src="static/Vector-pered-o-cebe.png" alt="Vector" class="imagev">
        <h1>О СЕБЕ</h1>
        <h2>Усова Анастасия</h2>
        <h3>Занятие украшениями было моей <br> маленькой мечтой…<br>
	Сейчас я даже не вспомню, когда я <br>впервые попыталась их делать.<br>
        На протяжении многих лет я<br> собираю украшения из <br> позолоченной,
         родированной и <br> посеребрянной фурнитуры с <br>натуральными камнями.<br>
        Принимала участие в различных <br>выставках и ярмарках.</h3>
        <img src="static/pervai_fotka_o_sebe.png" alt="Jewelry Image" class="Testimonials-image1">
        <img src="static/vtoraya-fotka-o-sebe.png" alt="Jewelry Image" class="Testimonials-image2">
    </div>
	
    <div class="Our_Success" id="advantages">
   	<h1>SIA_US_JEWELRY</h1>
	<img src="static/Vector-sleva-pered-preimycth.png" alt="Vector Left" class="imagev-left">
        <img src="static/Vector-sprava-pered-preimytch.png" alt="Vector Right" class="imagev-right">
	<div class="squares-container">
	  <div class="square1"> <div class="text1">Ручная работа</div><img src="static/hand-made.png" alt="Jewelry Image" class="image1"></div>
          <div class="square2"> <div class="text2">Гипоаллергенные материалы</div> <img src="static/gippoalergen-material.png" alt="Jewelry Image" class="image2"></div>
          <div class="square3"> <div class="text3">Персонализация изделий</div><img src="static/personalizacia-izdeliy.png" alt="Jewelry Image" class="image3"></div>
          <div class="square4"> <div class="text4">Доставка по всей стране</div><img src="static/dostavka-po-vsey-strane.png" alt="Jewelry Image" class="image4"> </div>
	  <div class="square5"> <div class="text5">Индивидуальный подход</div><img src="static/individyal-podxod.png" alt="Jewelry Image" class="image5"> </div>
    	</div>
     </div>

    <div class="Bestsellers" id="bestsellers">
   	<h1>Работы     </h1>
    <img src="static/Vector-raboti.png" alt="Vector" class="imagev">
        <div class="squares-container">
          <div class="square1"> <div class="text10">Позолоченная фурнитура, сердолик </div> <img src="static/pozoloth-furnityra-serdolik.png" alt="Jewelry Image" class="image1"> </div>
          <div class="square2"> <div class="text11">Родированная фурнитура, майорка</div> <img src="static/rodir-furnityra-maiorka.png" alt="Jewelry Image" class="image2"> </div>
          <div class="square3"> <div class="text12">Позолоченная фурнитура, кошачий глаз</div><img src="static/pozoloth-furnityra-koshathiiy-glaz.png" alt="Jewelry Image" class="image3"></div>
          <div class="square4"> <div class="text13">Родированная фурнитура, белый агат, майорка</div> <img src="static/rodir-furnitura-bel-agat-maiorka.png" alt="Jewelry Image" class="image4"> </div>
          <div class="square5"> <div class="text14">Позолоченная фурнитура, сердолик</div> <img src="static/pozoloth-furnityra-serdolik-2.png" alt="Jewelry Image" class="image5"></div>
          <div class="square6"> <div class="text15">Сатинированная позолота, майорка </div> <img src="static/satinir-pozolota-maiorka.png" alt="Jewelry Image" class="image6"></div>
          <div class="square7"><div class="text16">Чернённая фурнитура, шунгит</div><img src="static/chernen-furnityra-songit.png" alt="Jewelry Image" class="image7"></div>
          <div class="square8"><div class="text17">Позолоченная фурнитура</div><img src="static/pozoloyh-furnitura.png" alt="Jewelry Image" class="image8"> </div>
        </div>
	<img src="static/cvetok-fon-raboti.png" alt="Jewelry Image" class="Bestsellers-imagefon">
        <img src="static/listya-fon-raboti.png" alt="Jewelry Image" class="Bestsellers-imagefon1">
    </div>

    <div class="reviews" id="review">
    	<h1>ОТЗЫВЫ</h1>
        <img src="static/Vector-sleva-otzivi.png" alt="Vector Left" class="imagev-left">
        <img src="static/Vector-sprava-otzivi.png" alt="Vector Right" class="imagev-right">
        <div class="squares-container">
          <div class="square1">
              <div class="text1">“Здравствуйте!<br> Серёжки очень понравились!!<br> Они невероятно красивые и аккуратные)
		      <br>Качество материалов на высшем уровне!<br>Что особенно порадовало, так это их<br> лёгкость-совершенно не чувствуются на ушах!
		      <br>Спасибо большое!” 
	      </div> 
	      <img src="static/zvezdi1.png" alt="Jewelry Image" class="image1">
	      <div class="square3"></div>
	  </div>

	  <div class="square2">
              <div class="text2">“Добрый вечер<br>Да, всë понравилось, сережки классные,<br>на фотке крупнее было, думала большие такие,
		      <br>оказывается нормально<br>И застежка вообще кайфовая, не надо 5 минут<br>зацеплять что-то куда-то!
		      <br>Кстати, длина тоже хорошая)” 
	      </div> 
	      <img src="static/zvezdi2.png" alt="Jewelry Image" class="image2"> 
	      <div class="square3"></div>
	  </div>  
        </div> 	
     </div>

 	<div class="social" id="social">
            <div class="text1">Следите за новинками в наших<br>социальных сетях</div>
	    <div class="content-wrapper">
		    <div class="squares-container">
			
			<div class="square1"> 
				<img src="static/QR-vk.png" alt="QR-VK" class="image1">
				<div class="icon-text-container">
					<img src="static/vk-ikonka.png" alt="Icon-VK" class="image3">
					<div class="text21">sia_us_jewelry</div>
				</div>
			</div>   
			<div class="square2">
			    <img src="static/QR-tg.png" alt="QR-Telegramm" class="image2">
			    <div class="icon-text-container">
				<img src="static/tg-ikonka.png" alt="Icon-Telegramm" class="image4">
				<div class="text21">Sia.us.jewerly</div>
			    </div>
			</div>
		     </div>
		</div>
	     	<img src="static/Vector-pered-o-cebe.png" alt="Vector" class="imagev">
	     	<div class="text2">Сделайте заказ прямо сейчас</div>
	     	<button class="button2" onclick="redirectToForm()">Заказать</button>
 	    
	</div>

	<div class="footer">
	   <h1>SIA_US_JEWELRY</h1>
           <h2>Украшения ручной работы</h2>
           <nav1 class="nav1">
               <a href="#about">О себе</a>
               <a href="#advantages">Преимущества</a>
               <a href="#bestsellers">Работы</a>
               <a href="#review">Отзывы</a>
               <a href="#social">Контакты</a>
           </nav1>
           <h3>© 2024-2025 Karyakina E.O. </h3>
	</div>

    <script>
        function redirectToForm() {
            window.location.href = "https://docs.google.com/forms/d/13G4NQYnOVDLeFpF4KIvSGWPcbMLlKaDC-OQbLqayr_o/edit";
        }
    </script>
</body>
</html>
